<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid px-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-1 px-0 me-sm-6 me-12">
                <li class="breadcrumb-item"><a class="opacity-8 text-dark" href="javascript:;">Home</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">
                    Usuario
                </li>
            </ol>
        </nav>
        <div class="collapse navbar-collapse me-md-0 me-4" id="navbar">
            <ul class="navbar-nav mb-2 mb-sm-0 ms-sm-auto justify-content-sm-end">
                <li class="nav-item d-flex align-items-center">
                    <a href="/logout" class="nav-link text-body text-uppercase font-weight-bold px-0 ">
                        <i class="fas fa-sign-out-alt"></i> SALIR
                    </a>
                </li>


            </ul>
        </div>

    </div>
</nav>