{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/formularios.css">
    <title>Gestionar Productos</title>
</head>
<body>
<div class="yui-b">
    <div class="yui-g">
        <div class="yui-u first">
            <div class="container">
                <div class="form__top">
                    <h2>Crear Productos</h2>
                </div>
    <form action="/user/create_prod" method="POST">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <ul>
            <li style="color: brown;">{{message}}</li>
        </ul>
        
        {% endfor %}
        {% endif %}
        <label  for="nombre_prod" class="form-label">Nombre del Producto:</label>
        <input input class="input" type="text" name="nombre_prod" placeholder="Ingrese el nombre de Su Producto" >
        <br>
        <label for="peso" class="form-label">Peso de Cilindro:</label>
        <input input class="input" type="text" name="peso" placeholder="Ingrese el peso del cilindro" >
        <br>
        <label for="tipo" class="form-label">Tipo de Cilindro:</label>
        <input input class="input" type="text" name="tipo" placeholder="Ingrese el Tipo de gas "> 
        <br>
        <label for="color" class="form-label">Color del Cilindro:</label>
        <input input class="input" type="text" name="color" placeholder="Ingrese el color de gas "> 
        <div class="btn__form">
            <input class="btn__submit" type="submit" value="Crear">
            <input class="btn__reset" type="button" value="Regresar"role="link" onclick="window.location='/user/dashboard'">
        </div>
    </form>
            </div>
        </div>

<div class="yui-u">
    <div class="container">
        <div class="form__top">
            <h2> PRODUCTO: </h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th input class="input" scope="col">Nombre Producto</th>
                    <th input class="input"scope="col">Peso</th>
                    <th input class="input"scope="col">Tipo</th>
                    <th input class="input"scope="col">Color</th>
                    <th input class="input"scope="col">Actions</th>  
                </tr>
            </thead>
            <tbody>
                {% for Producto in all_prod %}
                <tr>
                    <td input class="input">{{Producto.nombre_prod}}</td> 
                    <td input class="input">{{Producto.peso}}</td>
                    <td input class="input">{{Producto.tipo}}</td>
                    <td input class="input">{{Producto.color}}</td>
                    <td input class="input"><a href="/user_prd/{{Producto.id}}/edit">Edit</a></td>   
                    <td input class="input"><a href="/user_prod/{{Producto.id}}/delete">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
</body>
</html>