{% extends 'layouts/base.html' %} {% block title %} Gestion Inventario{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="container-fluid">
    <div class="page-header min-height-150 border-radius-xl mt-4" style="background-image: url('/static/assets/img/curved-images/curved14.jpg'); background-position-y: 15%;">
        <span class="mask bg-gradient-info opacity-5"></span>
    </div>
    <div class="card card-body blur shadow-blur mx-4 mt-n6">
        <div class="row gx-4">
            <div class="col-auto">
                <div class="avatar avatar-xl position-relative">

                    <img src="/static/assets/img/usuario5.png" alt="avatar.png" class="w-100 border-radius-lg shadow-sm">


                </div>
            </div>
            <div class="col-auto my-auto">
                <div class="h-100">
                    <h5 class="mb-1">
                        {{logged_user.first_name}} {{logged_user.last_name}}
                    </h5>
                    <p class="mb-0 font-weight-bold text-sm">
                        {{logged_user.email}}
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- sección 2 cards -->
<div class="container-fluid py-4">
    <div class="row my-4">

        <!-- card izquierda -->
        <div class="col-lg-4 col-md-6 mb-md-0">
            <div class="card mb-2">
                <div class="card-header pb-0 p-3">
                    <h6 class="mb-1">Registro Inventario</h6>

                </div>
                <div class=" col-md-12 d-flex flex-column">
                    <div class="card card-plain mt-1">
                        <div class="card-header pb-0 text-left bg-transparent">

                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages%}
                                <li class="text-danger"><strong class="text-danger text-capitalize">{{message.tags}}:</strong> {{message}} {% endfor %}</li>
                            </ul>
                            {% else %} Por favor ingrese los datos de inventario{% endif %}
                            </p>
                        </div>
                        <div class="card-body">
                            <form role="form text-left" method="post" action="/user/create_bodega">

                                {% csrf_token %}

                                <label for="prod_bod" class="form-label">Seleccione el Producto</label>
                                <div class="mb-2">
                                    <select class="form-control" name="prod_bod" id="prod_bod">
                                     {% for prod in all_prod %}
                                     <option value={{prod.id}}>{{prod.nombre_prod}} - {{prod.peso}} - {{prod.tipo}}</option>
                                     {% endfor %}
                                     </select>
                                </div>
                                <label for="factura" class="form-label">Factura Compra</label>
                                <div class="mb-2">
                                    <input type="text" class="form-control" name="factura" placeholder="Ingrese factura de compra" required>
                                </div>
                                <label for="proveedor" class="form-label">Proveedor</label>
                                <div class="mb-2">
                                    <input type="text" class="form-control" name="proveedor" placeholder="Ingrese proveedor" required>
                                </div>
                                <label for="fecha_ingr" class="form-label">Fecha Ingreso</label>
                                <div class="mb-2">
                                    <input type="date" class="form-control" name="fecha_ingr" placeholder="Ingrese fecha ingreso al inventario" required>
                                </div>

                                <label for="cantidad" class="form-label">Cantidad</label>
                                <div class="mb-2">
                                    <input type="number" class="form-control" name="cantidad" min="1" placeholder="Ingrese cantidad a registrar" required>
                                </div>
                                <label for="precio_compra" class="form-label">Precio de compra</label>
                                <div class="mb-2">
                                    <input type="number" min="0" step="0.01" class="form-control" name="precio_compra" placeholder="Ingrese el precio de adquisición" required>
                                </div>

                                <div class="mb-3 row g-2 text-center">
                                    <div class="col-md">
                                        <button type="submit" name="save" class="btn bg-gradient-info mt-4 mb-0">Guardar</button>
                                    </div>
                                    <div class="col-md">
                                        <a href="/user/dashboard">
                                            <button type="button" class="btn bg-gradient-primary  mt-4 mb-0">Cancelar</button>
                                        </a>

                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- card derecha -->
        <div class="col-lg-8 col-md-6">
            <div class="card mb-2">
                <div class="card-header pb-0 p-3">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>Inventario registrado</h6>

                        </div>
                        <div class="col-lg-6 col-5 my-auto text-end">

                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fecha Compra</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Producto</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Factura</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Proveedor</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cantidad</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Precio Compra</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bod in all_bod%}
                                <tr>
                                    <td class="align-middle text-center text-xxs">
                                        <span class="text-xxs ">{{bod.fecha_ingr}}</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-xxs ">{{bod.prod_bod.nombre_prod}} - {{bod.prod_bod.peso}} - {{bod.prod_bod.tipo}} </span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-xxs"> {{bod.factura}} </span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-xxs">{{bod.proveedor}} </span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-xxs ">{{bod.cantidad}}</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-xxs ">$ {{bod.precio_compra}}</span>
                                    </td>
                                    <td class="align-left text-center text-xxs">
                                        <a class="btn btn-link text-danger  px-3 mb-0" href="/user_bod/{{bod.id}}/delete"><i class="fas fa-trash"></i></a>
                                    </td>

                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>

{% endblock javascripts %}