{% extends 'layouts/base-cl.html' %} {% block title %} Dashboard - Cliente {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="container-fluid">
    <div class="page-header min-height-150 border-radius-xl mt-4" style="background-image: url('/static/assets/img/curved-images/curved14.jpg'); background-position-y: 15%;">
        <span class="mask bg-gradient-info opacity-5"></span>
    </div>
    <div class="card card-body blur shadow-blur mx-4 mt-n6">
        <div class="row gx-4">
            <div class="col-auto">
                <div class="avatar avatar-xl position-relative">

                    <img src="/static/assets/img/usuario5.png" alt="avatar.png" class="w-100 border-radius-lg shadow-sm">


                </div>
            </div>
            <div class="col-auto my-auto">
                <div class="h-100">
                    <h5 class="mb-1">
                        {{logged_user.first_name}} {{logged_user.last_name}}
                    </h5>
                    <p class="mb-0 font-weight-bold text-sm">
                        {{logged_user.email}}
                    </p>
                </div>
            </div>
            <div class="col-sm-1 col-4 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                <div class="nav-wrapper position-relative end-0">
                    <ul class="nav nav-pills nav-fill p-1 bg-transparent">
                        <li class="nav-item">
                            <a class="nav-link mb-0 px-0 py-1" href="/user_cli/{{logged_user.id}}/edit" aria-controls="dashborad" aria-selected="true">
                                <i class="fas fa-user-edit"></i>

                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-4">

    <div class="row my-3">
        <!-- sección pedidos -->
        <div class="col-12 col-xl-8">
            <div class="card mb-4">
                <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Mis pedidos recientes</h6>


                    <hr class="horizontal gray-light my-1">
                    <a class="btn btn-link text-info text-gradient px-3 mb-0" href="/user/create_pedido"><i class="far fa-plus-square me-2"></i>Nuevo Pedido</a>

                </div>
                <div class="card-body pt-4 p-3">
                    <ul class="list-group">
                        {% for pedido in user_pedidos%}
                        <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                            <div class="d-flex flex-column">

                                <h6 class="mb-3 text-sm">Pedido # {{pedido.id}} &nbsp;&nbsp;&nbsp;&nbsp;

                                    <span class="mb-3 text-xs">
                                {% if pedido.stat_id.estados == "Pendiente" %}
                                    <span class="badge bg-gradient-warning text-xxs"> {{pedido.stat_id.estados}}</span> {% elif pedido.stat_id.estados == "Despachado" %}
                                    <span class="badge bg-gradient-info text-xxs">{{pedido.stat_id.estados}}</span> {% elif pedido.stat_id.estados == "Entregado" %}
                                    <span class="badge bg-gradient-success text-xxs">{{pedido.stat_id.estados}}</span> {% else %}
                                    <span class="badge bg-gradient-danger text-xxs">{{pedido.stat_id.estados}}</span> {% endif %}
                                    </span>
                                </h6>
                                <div class="table-responsive">
                                    <table class="table align-items-center mb-0">
                                        <thead>
                                            <tr>

                                                <th class="text-center text-uppercase text-info text-xxs font-weight-bolder opacity-7">Fecha</th>
                                                <!-- <th class="text-center text-uppercase text-info text-xxs font-weight-bolder opacity-7">Cedula</th> -->
                                                <th class="text-center text-uppercase text-info text-xxs font-weight-bolder opacity-7">Dirección entrega</th>
                                                <th class="text-center text-uppercase text-info text-xxs font-weight-bolder opacity-7">Teléfono</th>
                                                <th class="text-center text-uppercase text-info text-xxs font-weight-bolder opacity-7">Subtotal</th>
                                                <th class="text-center text-uppercase text-info text-xxs font-weight-bolder opacity-7">IVA 12%</th>
                                                <th class="text-center text-uppercase text-info text-xxs font-weight-bolder opacity-7">TOTAL</th>
                                                <th class="text-center text-uppercase text-info text-xxs font-weight-bolder opacity-7"></th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>

                                                <td class="align-middle text-center text-sm">
                                                    <span class="text-xxs"> {{pedido.created_at}} </span>
                                                </td>
                                                <!-- <td class="align-middle text-center text-sm">
                                                    <span class="text-xxs"> {{pedido.cedula}} </span>
                                                </td> -->
                                                <td class="align-middle text-center text-sm">
                                                    <span class="text-xxs">{{pedido.dire_id.nombre_dir}} </span>
                                                </td>
                                                <td class="align-middle text-center text-sm">
                                                    <span class="text-xxs ">{{pedido.dire_id.celular}}</span>
                                                </td>
                                                <td class="align-middle text-center text-sm">
                                                    <span class="text-xxs">${{pedido.subtotal_pedido}}</span>
                                                </td>
                                                <td class="align-middle text-center text-sm">

                                                    <span class="text-xxs">${{pedido.iva_pedido}}</span>
                                                </td>
                                                <td class="align-middle text-center text-xxs">
                                                    <span class="text-xxs text-dark font-weight-bolder">${{pedido.total_pedido}}</span>
                                                </td>
                                                <td class="align-middle text-center text-xxs">
                                                    <a class="btn btn-link text-info text-gradient px-3 mb-0" href="/user/invoice/{{pedido.id}}"><i class="far fa-file-pdf"></i></a> {% if pedido.stat_id.estados == "Pendiente" %}
                                                    <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="/user/cancelar_pedido/{{pedido.id}}"><i class="far fa-trash-alt me-2"></i></a> {% endif %}

                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                                <br>

                                <div class="table-responsive">
                                    <table class="table align-items-center mb-0">
                                        <thead>
                                            <tr>

                                                <th class="text-center text-uppercase text-success text-xxs font-weight-bolder opacity-7">Producto</th>
                                                <th class="text-center text-uppercase text-success text-xxs font-weight-bolder opacity-7">Cantidad</th>
                                                <th class="text-center text-uppercase text-success text-xxs font-weight-bolder opacity-7">Precio Unitario</th>
                                                <th class="text-center text-uppercase text-success text-xxs font-weight-bolder opacity-7">Subtotal</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for prod in pedido.ped_id.all %}
                                            <tr>

                                                <td class="align-middle text-center text-sm">
                                                    <span class="text-xxs"> {{prod.prod_id.nombre_prod}} -{{prod.prod_id.peso}} - {{prod.prod_id.tipo}}</span>
                                                </td>
                                                <td class="align-middle text-center text-sm">
                                                    <span class="text-xxs"> {{prod.cantidad}} </span>
                                                </td>
                                                <td class="align-middle text-center text-sm">
                                                    <span class="text-xxs">{{prod.precio}} </span>
                                                </td>
                                                <td class="align-middle text-center text-sm">
                                                    <span class="text-xxs ">{{prod.costo}}</span>
                                                </td>

                                            </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>


                            </div>

                            <!-- <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"><i class="far fa-trash-alt me-2"></i>Delete</a>
                            <a class="btn btn-link text-warning px-3 mb-0" href="javascript:;"><i class="fas fa-pencil-alt text-warning me-2" aria-hidden="true"></i>Edit</a> -->

                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- sección direcciones -->
        <div class="col-12 col-xl-4">
            <div class="card mb-4">
                <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Mis direcciones</h6>
                    <hr class="horizontal gray-light my-1">
                </div>

                <div class="card-body p-3">

                    <ul class="list-group">

                        <div class="card-body pt-2 p-3">
                            {% if user_dir %}
                            <ul class="list-group">
                                {% for dir in user_dir%}
                                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                                    <div class="d-flex flex-column">
                                        <h6 class="mb-2 text-info text-sm">{{dir.nombre_dir}}</h6>
                                        <span class="mb-2 text-xs">Teléfono: <span class="text-dark font-weight-bold ms-2">{{dir.celular}} </span></span>
                                        <span class="mb-2 text-xs">Descripción: <span class="text-dark ms-2 font-weight-bold">{{dir.desc}}</span></span>
                                        <span class="mb-2 text-xs">Latitud: <span class="text-dark ms-2 font-weight-bold">{{dir.lat}}</span></span>
                                        <span class="mb-2 text-xs">Longitud: <span class="text-dark ms-2 font-weight-bold">{{dir.long}}</span></span>

                                        <div class="ms-auto">

                                            <a class="btn btn-link text-warning text-xxs  text-gradient px-3 mb-0" href="/user_dir/{{dir.id}}/edit"><i class="far fa-edit me-2"></i>Editar</a>
                                            <a class="btn btn-link text-danger text-xxs  text-gradient px-3 mb-0" href="/user_dir/{{dir.id}}/delete"><i class="far fa-trash-alt me-2"></i>Eliminar</a>
                                        </div>

                                    </div>

                                </li>

                                {% endfor %}

                            </ul>
                            {% else %}
                            <p>Todavía no has ingresado ninguna dirección</p>
                            {% endif %}
                        </div>


                    </ul>
                </div>
                <div class="ms-auto">

                    <a class="btn btn-link text-info text-gradient px-3 mb-0" href="/user/gest_direccion"><i class="far fa-plus-square me-2"></i>Agregar</a>

                </div>
            </div>


        </div>



    </div>

    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>

{% endblock javascripts %}