{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/formularios.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Modificar Usuarios</title>
    </head>
<body>
    <div class="container">
        <div class="form__top">
            <h2>Editar Usuario</span></h2>
        </div>
    <form action="/user_usr/update/{{user.id}}" method="POST">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <ul>
            <li style="color: brown;">{{message}}</li>
        </ul>
        
        {% endfor %}
        {% endif %}
                <input type="hidden" name="user_id" value="{{ user.id }}"  >
                <input class="input" type="text" name="first_name" value="{{ user.first_name}}" placeholder="Enter your first name">
                <br>
                <input class="input" type="text" name="last_name" value="{{ user.last_name}}"placeholder="Enter your last name" >
                <br>
                <input class="input" type="email" name="email" value="{{ user.email}}" placeholder="Enter your email" >
                <br>
                <select class="input" name="user_rol" id="user_rol" >
                        {% for Rol in allroles %}
                        <option value="{{Rol.id}}" {% if Rol.id == user.user_rol.id %} selected  {% endif %}  >{{Rol.roles}}</option>
                        {% endfor %}
                </select>
                <br>
                <input class="input" type="password" name="password" value="{{ user.password}}" placeholder="Enter your password">
                <br>
                <input class="input" type="password" name="confirm_password" value="{{ user.password}}" placeholder="Please confirm your Password:">
                <br>
                <div class="btn__form">
                    <input class="btn__submit" type="submit" value="Modificar">
                    <input class="btn__reset" type="button" value="Regresar"role="link" onclick="window.location='/user/gestion_users'">
                </div>
                
        </form>
</div>

    </body>
</html>