{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body class="body1">
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="static/assets/img/curved-images/curved-8.jpg" alt="fondo.jpg">
                <div class="text">

                    <h1 class="text-1"><i class="fas fa-fire"></i> </i>&nbsp;<strong>GAS Delivery</strong> </i>
                    </h1>
                    <br>
                    <span class="text-2">Bienvenido/a, por favor ingrese</span>
                </div>
            </div>
            <div class="back">
                <img class="backImg" src="static/assets/img/curved-images/curved14.jpg" alt="fondo-back.jpg">
                <div class="text">
                    <span class="text-1">Crea <br> un nuevo usuario</span>
                    <span class="text-2">Comencemos!</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Login</div>
                    <form action="/user/login" method="post">
                        {% csrf_token %}
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="email" name="email" placeholder="Ingresa tu email">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" name="password" placeholder="Ingresa tu contraseña">
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="LOGIN">
                            </div>
                            <div class="text sign-up-text">No tienes una cuenta? <label for="flip">Regístrate</label></div>
                        </div>
                    </form>
                </div>
                <div class="signup-form">
                    <div class="title">Registro</div>
                    <form action="/user/create_user" methoD="POST">
                        {% csrf_token %}
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" name="first_name" placeholder="Ingresa tu nombre">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" name="last_name" placeholder="Ingresa tu apellido">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="email" name="email" placeholder="Ingresa tu email">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" name="password" placeholder="Ingresa un password">
                                <select name="user_rol" id="user_rol" hidden>
                                {% for Rol in allroles %}
                                <option value={{Rol.id}}>{{Rol.roles}}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" name="confirm_password" placeholder="Confirma tu password">


                            </div>
                            <div class="button input-box">
                                <input type="submit" value="REGISTRAR">
                            </div>
                    </form>
                    <div class="text sign-up-text">Ya tienes una cuenta? <label for="flip">Ingresa ahora</label></div>
                    </div>
                </div>
            </div>
</body>

</html>