<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/css/formularios.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="form__top">
            <h2>Bienvenido Usuario</h2>
        
            <table class="input">
                <thead>
                    <tr>
                        <th class="input" scope="col">Nombre</th>
                        <th class="input" scope="col">Email</th>
                        <th class="input" scope="col">Rol</th>
                        <th class="input"scope="col">Actions</th>  
                    </tr>
                </thead>
                <tbody>
                    {% for User in user_ses %}
                    <tr>
                        <td class="input">{{User.first_name}} {{User.last_name}}</td>
                        <td class="input">{{User.email}}</td>
                        <td class="input">{{User.user_rol.roles}}</td>
                        <td class="input"><a href="/user_cli/{{User.id}}/edit">Edit</a></td>   
                        <td class="input"><a href="/user/{{User.id}}/delete">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="btn__form">
                <input class="btn__reset" type="button" value="Regresar"role="link" onclick="window.location='/user/dashboard'">
            </div>
            </div>
    </div>
        
</body>
</html>