{% extends 'layouts/base.html' %} {% block title %} Registro Vacunación {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="container-fluid">
    <div class="page-header min-height-150 border-radius-xl mt-4" style="background-image: url('/static/assets/img/curved-images/curved14.jpg'); background-position-y: 15%;">
        <span class="mask bg-gradient-info opacity-5"></span>
    </div>
    <div class="card card-body blur shadow-blur mx-4 mt-n6">
        <div class="row gx-4">
            <div class="col-auto">
                <div class="avatar avatar-xl position-relative">
                    {% if logged_user.gender == 1 %}
                    <img src="/static/assets/img/hombre.png" alt="avatar.png" class="w-100 border-radius-lg shadow-sm"> {% else %}
                    <img src="/static/assets/img/mujer.png" alt="avatar.png" class="w-100 border-radius-lg shadow-sm"> {% endif %}

                </div>
            </div>
            <div class="col-auto my-auto">
                <div class="h-100">
                    <h5 class="mb-1">
                        {{logged_user.first_name}} {{logged_user.last_name}}
                    </h5>
                    <p class="mb-0 font-weight-bold text-sm">
                        {{logged_user.dni}}
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid py-4">

    <div class="row my-1">

        <div class="col-12">
            <div class="card mb-2">
                <div class="card-header pb-0 p-3">
                    <h6 class="mb-1">Registro de Vacunación</h6>
                    {%if dose == 1%}
                    <p>Primera Dosis</p>
                    {% else %}
                    <p>Segunda Dosis</p>
                    {% endif %}

                </div>
                <div class="col-xl-3 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                    <div class="card card-plain mt-1">
                        <div class="card-header pb-0 text-left bg-transparent">

                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages%}
                                <li class="text-danger"><strong class="text-danger text-capitalize">{{message.tags}}:</strong> {{message}} {% endfor %}</li>
                            </ul>
                            {% else %} Por favor, complete los siguientes campos: {% endif %}
                            </p>
                        </div>
                        <div class="card-body">
                            <form role="form text-left" method="post" action="/app/vaccination/register/{{dose}}">

                                {% csrf_token %}

                                <label for="center" class="form-label">Centro de Vacunación</label>
                                <div class="mb-2">
                                    <select class="form-select" name="center">
                                        <option selected  value ="-1" >Seleccione centro:</option>
                                        {% for center in centers %}
                                        <option value ="{{center.id}}">{{center.place}} - {{center.address}}</option>
                                       {% endfor %}
                                                              
                                     </select>

                                </div>
                                <label for="vaccine" class="form-label">Vacuna</label>
                                <div class="mb-2">
                                    <select class="form-select" name="vaccine">
                                        <option selected  value ="-1" >Seleccione tipo:</option>
                                        {% for vaccine in vaccines %}
                                        <option value ="{{vaccine.id}}">{{vaccine.name}} - {{vaccine.contry}}</option>
                                       {% endfor %}
                                                              
                                     </select>

                                </div>

                                <label for="date" class="form-label">Fecha</label>
                                <div class="mb-2">
                                    <input type="date" class="form-control" name="date" required>
                                </div>

                                <label for="lot" class="form-label">Lote</label>
                                <div class="mb-2">
                                    <input type="text" class="form-control" name="lot" placeholder="Ingrese lote vacuna">
                                </div>

                                <label for="vaccinator" class="form-label">Vacunador</label>
                                <div class="mb-2">
                                    <input type="text" class="form-control" name="vaccinator" placeholder="Ingrese nombre vacunador">
                                </div>

                                <div class="mb-3 row g-2 text-center">
                                    <div class="col-md">
                                        <button type="submit" name="save" class="btn bg-gradient-info mt-4 mb-0">Guardar</button>
                                    </div>
                                    <div class="col-md">
                                        <a href="/app/user_profile">
                                            <button type="button" class="btn bg-gradient-primary  mt-4 mb-0">Cancelar</button>
                                        </a>

                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>

    {% endblock content %}

    <!-- Specific JS goes HERE -->
    {% block javascripts %}

    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>

    {% endblock javascripts %}