{% extends 'layouts/base-fullscreen.html' %} {% block title %} Sign UP {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<section>
    <div class="page-header section-height-75">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                    <div class="card card-plain mt-8">
                        <div class="card-header pb-0 text-left bg-transparent">
                            <h4 class="text-info text-gradient">
                                Registro de nuevos usuarios
                            </h4>
                            <p class="mb-0">
                                {% if messages %}
                                <ul class="messages">
                                    {% for message in messages%}
                                    <li class="text-danger"><strong class="text-danger text-capitalize">{{message.tags}}:</strong> {{message}} {% endfor %}</li>
                                </ul>
                                {% else %} Complete los siguientes campos {% endif %}
                            </p>
                        </div>
                        <div class="card-body">
                            <form role="form text-left" method="post" action="/register/create_user">

                                {% csrf_token %}

                                <label for="dni" class="form-label">Cédula / DNI</label>
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="dni" placeholder="Ingrese su identificación" max="10" required>
                                </div>


                                <label for="first_name" class="form-label">Nombre</label>
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="first_name" placeholder="Ingrese su nombre" required>
                                </div>

                                <label for="last_name" class="form-label">Apellido</label>
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="last_name" placeholder="Ingrese su apellido" required>
                                </div>

                                <label for="email" class="form-label">Correo</label>
                                <div class="mb-3">
                                    <input type="email" class="form-control" name="email" placeholder="Ingrese su correo electrónico" required>
                                </div>

                                <div class="mb-3 row g-2">
                                    <div class="col-md">
                                        <label for="gender" class="form-label">Género</label><br>
                                        <input type="radio" class="btn-check" name="gender" id="1" autocomplete="off" value="M">
                                        <label class="btn btn-outline-info" for="1">M</label>
                                        <input type="radio" class="btn-check" name="gender" id="2" autocomplete="off" value="F">
                                        <label class="btn btn-outline-info" for="2">F</label>
                                        <input hidden type="radio" class="btn-check" name="gender" id="3" autocomplete="off" value="N/A" checked>
                                    </div>
                                    <div class="col-md">
                                        <label for="age" class="form-label">Edad</label>
                                        <input type="number" class="form-control" min="1" max="100" name="age" required>

                                    </div>
                                </div>

                                <label for="password" class="form-label">Contraseña</label>
                                <div class="mb-3">
                                    <input type="password" class="form-control" name="password" placeholder="Ingrese su contraseña" required>
                                </div>

                                <label for="password_confirm" class="form-label"> Confirmar contraseña</label>
                                <div class="mb-3">
                                    <input type="password" class="form-control" name="password_confirm" placeholder="Ingrese su contraseña" required>
                                </div>
                                <div class="text-center">
                                    <button type="submit" name="register" class="btn bg-gradient-info w-100 mt-4 mb-0">REGISTRARSE</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center pt-0 px-lg-2 px-1">
                            <p class="mb-4 text-sm mx-auto">
                                Ya tiene una cuenta?
                                <a href="{% url 'login' %}" class="text-info text-gradient font-weight-bold">INGRESE</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                        <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('/static/assets/img/curved-images/curved14.jpg')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>

{% endblock javascripts %}